.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-header h3 {
    margin: 0;
    font-size: 1.2em;
}

.note-header .btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.note p {
    margin-top: 10px;
    font-size: 1em;
    word-wrap: break-word;
}
.note {
    transform: rotate(-2deg);
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
    padding: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.noteI{
    transform: rotate(3deg);
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
    padding: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}